---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-v1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp-v1
  template:
    metadata:
      labels:
        app: myapp-v1

    spec:
      containers:
      - name: myapp-v1
        image: arjunmishra/demo-test:tagversion
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: service
spec:
  selector:
    app: myapp-v1
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
